#container{
    border:2px solid red
}

#box{
   
    width: 1000px;
   
}


#inBox{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}




#cart{
  border: 1px solid; 
  margin-left: 900px; 
  width: 300px;
  margin-top: -160px;
}

button{
    width:100px;
    height: 60px;
}