#container{
    border:2px solid
}

#box{
    border:2px solid;
    width: 600px;
    
}


#inBox{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

#outBox{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}